* {
	box-sizing: border-box;
}

body {
	max-width: 1280px;
	background-color: white;
	margin: 0 auto;
	font-family: cursive;
}
header, nav, footer, article, section, div {
	/*border: 1px solid #00F233;*/
}
header {
	height: 350px;
	margin-bottom: 20px;
	backdrop-filter: blur(3px);
	position: relative;
}
.mainMenu {
	background-color: black;
	height: 60px;
	width: 100%;
	border-radius: 0 0 20px 20px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menuElements {
	
	height: 60px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
}
.menuBlock {
	display: inline-block;
	max-width: 600px;
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 20px;
	line-height: 60px;
	text-transform: uppercase;
	font-size: 14px;
}
#searchForm {
	display: flex;
	justify-content: center;
	align-items: center;
}
#search {
	width: 20%;
	height: 26px;
	padding: 0;
}
article {
	text-align: justify;
	padding: 0 10px;
	margin-bottom: 10px;
	backdrop-filter: blur(3px);
}
ul li {
	display: inline;
	padding: 10px;
	text-align: center;
}
ul li a {
	text-decoration: none;
	color:white;
}
footer {
	text-align: center;
	backdrop-filter: blur(3px);
}	
.inviteMenu {
	display: flex;
	position: relative;
	padding-top: 50px;
	height: auto;
	width: 100%;
	align-items: flex-start;
	font-size: 15px;

	
}
.inviteImage {
	display: inline-block;
}
.hedHeading {
	font-family: 'Caveat', cursive;
}